.features-container {

    width : 100%;
    height : 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding : 100px;

}

.features-container h1 {
    font-size : var(--heading-font-desktop);
}

.features-wrapper {
    width : 100%;
    height : 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.feature-panel {
    width : 27%;
    height : 100%;

    padding : 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border : 3px solid var(--dark);
    border-radius: 10px;

}

.feature-panel:hover {
    transform: scale(1.01);
    background-color: var(--light-select);
}

.feature-panel h1 {
}

.feature-panel img {
    max-width : 50px;
    max-height : 50px;
}


@media(max-width : 900px) {

        
    .features-container h1 {
        font-size : 30px;     
    }
        
    .features-wrapper {
        flex-direction: column;

        height : 90%;
    }

    .features-wrapper h2 {
        font-size : 18px;
    }

    .features-wrapper p {
        font-size : 15px;
    }

    .feature-panel {
        width : 100%;
        height : 30%;

        padding : 0 10px;
    }

    .feature-panel img {
        display : none;
    }


}